@import "tailwindcss";
@tailwind utilities;

:root {
  --background-mono: #000000;
  --background-green: #000000;
  --background-amber: #0d0d00;
  --foreground-mono: #ffffff;
  --foreground-green: #00ff55;
  --foreground-amber: #ffb000;

  --font-DOS: "DOS", monospace;
}

@font-face {
  font-family: "DOS";
  src: url("/fonts/PerfectDOSVGA437Win.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background-mono);
  --color-foreground: var(--foreground-mono);
  --font: var(--font-DOS);
}

html,
body,
:root {
  height: 100%;
}

body {
  background: var(--background-mono);
  color: var(--foreground-mono);
  font-family: var(--font);
}

.cursor-blink {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 24px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: white;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: white;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}

input[type="range"]::-moz-range-thumb {
  width: 0;
  height: 0;
  border: none;
}
